@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;600;700&display=swap");
:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark: hsl(234, 17%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Red Hat Text", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--Very-dark-blue) url("../images/bg-stars.svg") top center /
    cover no-repeat;
  padding-top: 13rem;
}

.timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-top: 10rem;
}

.timer .time-count {
  color: var(--Soft-red);
  background: var(--Dark-desaturated-blue);
  font-size: 7rem;
  font-weight: 700;
  /* padding: 2rem 3rem; */
  border-radius: 0.8rem;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: hsl(234, 17%, 12%) 0px 2px 3px,
    rgba(0, 0, 0, 0.3) 0px 10px 1px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.timer .time-count span {
  background: var(--Very-dark);
  border-radius: 50%;
  padding: 1rem;
  position: absolute;
  z-index: 100;
}

.timer .time-count span:nth-child(1) {
  left: -1rem;
}

.timer .time-count span:nth-child(3) {
  right: -1rem;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-180deg);
  }
}

.timer .time-name {
  color: var(--Grayish-blue);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  text-align: center;
  padding-top: 2rem;
}

.title {
  color: var(--White);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 200px;
  background: url("../images/pattern-hills.svg") top center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

footer a:hover img {
  filter: invert(67%) sepia(35%) saturate(6895%) hue-rotate(309deg)
    brightness(99%) contrast(98%);
  cursor: pointer;
  transform: all 3s ease-in;
}

.top,
.bottom,
.flip .top-flip,
.flip .bottom-flip {
  height: 1.05em;
  line-height: 1.52;
  overflow: hidden;
  padding: 2rem 3rem;
}

.top,
.flip .top-flip {
  background: var(--Dark-desaturated-blue);
  border-bottom: 0.1rem solid var(--Very-dark-blue);
}

.bottom,
.flip .bottom-flip {
  display: flex;
  align-items: flex-end;
}

.flip {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
}

.flip .top-flip {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transform-origin: bottom;
  animation: top-flip 250ms ease-in;
}

.flip .bottom-flip {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform-origin: top;
  animation: bottom-flip 250ms ease-out 250ms;
  transform: rotateX(90deg);
}

@keyframes top-flip {
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes bottom-flip {
  100% {
    transform: rotateX(0deg);
  }
}

@media (max-width: 992px) {

  .top,
  .bottom,
  .flip .top-flip,
  .flip .bottom-flip {
    height: 0.9em;
    line-height: 1.5;
    overflow: hidden;
    padding: 1rem 2rem;
  }

  .timer .time-count {
    font-size: 6rem;
  }
}

@media (max-width: 600px) {

  .top,
  .bottom,
  .flip .top-flip,
  .flip .bottom-flip {
    height: 0.9em;
    line-height: 1.5;
    overflow: hidden;
    padding: 0.5rem;
  }

  .timer .time-count {
    font-size: 4rem;
    font-weight: 600;
  }

  .title {
    font-size: 1.3rem;
  }

  .timer .time-name {
    font-size: 0.5rem;
  }

  .timer {
    gap: 0.7rem;
  }
}
